<div id="bg">
  <div class="form">
    <form action="/signup" method="post">
      <input type="text" name="signup_name" placeholder="Username">
      <input type="email" name="signup_email" placeholder="Email Address">
      <input type="password" name="signup_pass" placeholder="Password">
      <input type="submit" value="SIGN UP" class="submit">
    </form>
  </div>
</div>
